#DIÁRIO DE ANÁLISES

## Encontrado x problemas de registros:
###2024.11.13 - 11h20min
  - Campo Unnamed: 13, Unnamed: 14, Unnamed: 15,	Unnamed: 16,	Unnamed: 17,	Unnamed: 1 - Excluir colunas.
  - Linhas: 358 a 366 - Excluir linhas sem registros.

  - Grupo the_powerpuff_girls. (Larissa Ribeiro)

###2024.11.21-17h57min
  - Campo "dieta" valor nulo para o ID 1
  - Pergunta enviada por Larissa Ribeiro do Grupo "the_powerpuff_girls" ao grupo "Data +" ao Pesquisador Murilo Santone de Menezes, sobre qual seria número do campo dieta que está nulo.

###2024.11.21-18h03min
  - Resposta recebida do grupo "Data +" informada pelo pesquisador Murilo
  - Campo "dieta" faltante deve ser preenchido com o número 1.

###2024.11.21-18h29min
  - Campo "sexo" valor H em várias linhas, verificando se realmente é um campo (M)asculino
  - Pergunta enviada por Larissa Ribeiro do Grupo "the_powerpuff_girls" ao grupo "Analytical Team" ao Pesquisador   Hugo Henrique Corvo dos Santos sobre qual seria a letra correta para as linhas do campo "sexo" com a letra H.

###2024.11.21-18h:32min
  - Resposta recebida do grupo "Analytical Team" informada pelo pesquisador Hugo
  - Campo "sexo" está com conteúdo errado (Sigla H) deve ser preenchido com (M)asculino.

###2024.11.21-18h48min
  - Campo "sexo" valor G em uma linha, verificando qual o valor para a substituição.
  - Pergunta enviada por Larissa Ribeiro a Grasiely Lima ambas grupo "the_powerpuff_girls".

###2024.11.21-18h58min
  - Resposta recebida do grupo "the_powerpuff_girls" informada pelo pesquisadora Grasiely
  - Campo "sexo" está com conteúdo errado (Sigla G) deve ser preenchido com (M)asculino.

###2024.11.21-??????
  - Campo "peso" valor de 190kg para uma mulher de 29 anos, verificar se setrata de um outlier.
  - Pergunta enviada por Larissa Ribeiro do grupo "the_powerpuff_girls" ao grupo "Analytical Team" ao Pesquisador Hugo Henrique Corvo dos Santos.







###20241111-16h12
  - pergunta recebida do grupo g2 sobre o campo z com conteúdo faltando

###20241111-17h42
  - resposta enviada ao grupo g2, campo z deve ser preenchido com Z

#Importando Bibliotecas

In [2]:
import numpy as np
import pandas as pd

#Leitura do arquivo de dados

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
file_path = '/content/drive/MyDrive/Applied_Statistics/Bases/'

In [5]:
base = pd.read_csv(f'{file_path}/dados_dsa29.csv')

# Tratamento do dataset

## Analisando o dataset e realizando os tratamentos

In [9]:
base.shape #Verificando o tamanho do dataset

(365, 19)

In [10]:
base.head()

,pesquisador (aluno),pesq_id,cep,idade,sexo,peso,altura,estado_civil,escolaridade,consumo_alcool,fumante,exercícios,dieta,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Murilo Santone de Menezes,1.0,3479030,26.0,M,67.0,183,1.0,5.0,3.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Murilo Santone de Menezes,1.0,3479030,42.0,F,65.0,173,2.0,4.0,4.0,4.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Murilo Santone de Menezes,1.0,3479030,61.0,M,67.0,178,2.0,1.0,3.0,4.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Murilo Santone de Menezes,1.0,3479030,86.0,F,60.0,165,3.0,1.0,6.0,4.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Murilo Santone de Menezes,1.0,3479030,24.0,F,70.0,170,1.0,2.0,2.0,2.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pesquisador (aluno)  364 non-null    object
 1   pesq_id              358 non-null    float64
 2   cep                  358 non-null    object
 3   idade                358 non-null    float64
 4   sexo                 358 non-null    object
 5   peso                 358 non-null    float64
 6   altura               358 non-null    object
 7   estado_civil         358 non-null    float64
 8   escolaridade         358 non-null    float64
 9   consumo_alcool       358 non-null    float64
 10  fumante              358 non-null    float64
 11  exercícios           358 non-null    float64
 12  dieta                357 non-null    float64
 13  Unnamed: 13          0 non-null      float64
 14  Unnamed: 14          16 non-null     object
 15  Unnamed: 15          15 non-null     object
 16  Unnamed: 16          0 non-null      float64
 17  Unnamed: 17          17 non-null     object
 18  Unnamed: 18          14 non-null     object
dtypes: float64(11), object(8)
memory usage: 54.3+ KB

### 1° Excluindo linhas, colunas e tratando dados nulos

In [12]:
#1- Excluir as colunas Unnamed: 13	Unnamed: 14	Unnamed: 15	Unnamed: 16	Unnamed: 17	Unnamed: 18
base.drop(columns=['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18'], inplace=True)

In [13]:
#2- Analisando dados nulos
base.isnull().sum()

pesquisador (aluno)    1
pesq_id                7
cep                    7
idade                  7
sexo                   7
peso                   7
altura                 7
estado_civil           7
escolaridade           7
consumo_alcool         7
fumante                7
exercícios             7
dieta                  8
dtype: int64

In [14]:
print(base.tail(7))

                   pesquisador (aluno)  pesq_id  cep  idade sexo  peso altura  \
358                                NaN      NaN  NaN    NaN  NaN   NaN    NaN
359  Cesar Henrique de Freitas Barbosa      NaN  NaN    NaN  NaN   NaN    NaN
360             Felipe Vinicius Torres      NaN  NaN    NaN  NaN   NaN    NaN
361          Lucas da Mota Corrêa Cogo      NaN  NaN    NaN  NaN   NaN    NaN
362            Manoela Santos de Souza      NaN  NaN    NaN  NaN   NaN    NaN
363          Raldijar Pinto Leão Filho      NaN  NaN    NaN  NaN   NaN    NaN
364              Yago Costa dos Santos      NaN  NaN    NaN  NaN   NaN    NaN

     estado_civil  escolaridade  consumo_alcool  fumante  exercícios  dieta
358           NaN           NaN             NaN      NaN         NaN    NaN
359           NaN           NaN             NaN      NaN         NaN    NaN
360           NaN           NaN             NaN      NaN         NaN    NaN
361           NaN           NaN             NaN      NaN         NaN    NaN
362           NaN           NaN             NaN      NaN         NaN    NaN
363           NaN           NaN             NaN      NaN         NaN    NaN
364           NaN           NaN             NaN      NaN         NaN    NaN

In [15]:
#2- Excluir linhas sem dados Cesar, felipe, Lucas, Manoela, Raldijar e Yago - Valores nulos
base.drop([358,359,360,361,362,363,364], axis=0, inplace=True)
base

,pesquisador (aluno),pesq_id,cep,idade,sexo,peso,altura,estado_civil,escolaridade,consumo_alcool,fumante,exercícios,dieta
0,Murilo Santone de Menezes,1.0,3479030,26.0,M,67.0,183,1.0,5.0,3.0,1.0,3.0,NaN
1,Murilo Santone de Menezes,1.0,3479030,42.0,F,65.0,173,2.0,4.0,4.0,4.0,1.0,1.0
2,Murilo Santone de Menezes,1.0,3479030,61.0,M,67.0,178,2.0,1.0,3.0,4.0,4.0,1.0
3,Murilo Santone de Menezes,1.0,3479030,86.0,F,60.0,165,3.0,1.0,6.0,4.0,4.0,1.0
4,Murilo Santone de Menezes,1.0,3479030,24.0,F,70.0,170,1.0,2.0,2.0,2.0,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,Ryan de Oliveira Queiroz,32.0,2460000,58.0,F,59.8,182,1.0,7.0,5.0,2.0,3.0,4.0
354,Ryan de Oliveira Queiroz,32.0,2238130,78.0,F,97.8,173,4.0,3.0,2.0,3.0,4.0,3.0
355,Ryan de Oliveira Queiroz,32.0,2238130,36.0,F,107.8,156,4.0,1.0,1.0,1.0,2.0,4.0
356,Ryan de Oliveira Queiroz,32.0,2543000,35.0,M,56.4,176,3.0,7.0,4.0,2.0,1.0,2.0
357,Ryan de Oliveira Queiroz,32.0,2543000,77.0,F,79.1,176,1.0,3.0,4.0,4.0,1.0,3.0

In [19]:
base.isnull().sum()

pesquisador (aluno)    0
pesq_id                0
cep                    0
idade                  0
sexo                   0
peso                   0
altura                 0
estado_civil           0
escolaridade           0
consumo_alcool         0
fumante                0
exercícios             0
dieta                  0
dtype: int64

In [20]:
#3- Formatar campo Dieta Nulo id: 1
base.loc[base["dieta"].isnull(), "dieta"] = 1
print(base)

           pesquisador (aluno)  pesq_id      cep  idade sexo   peso altura  \
0    Murilo Santone de Menezes      1.0  3479030   26.0    M   67.0    183
1    Murilo Santone de Menezes      1.0  3479030   42.0    F   65.0    173
2    Murilo Santone de Menezes      1.0  3479030   61.0    M   67.0    178
3    Murilo Santone de Menezes      1.0  3479030   86.0    F   60.0    165
4    Murilo Santone de Menezes      1.0  3479030   24.0    F   70.0    170
..                         ...      ...      ...    ...  ...    ...    ...
353   Ryan de Oliveira Queiroz     32.0  2460000   58.0    F   59.8    182
354   Ryan de Oliveira Queiroz     32.0  2238130   78.0    F   97.8    173
355   Ryan de Oliveira Queiroz     32.0  2238130   36.0    F  107.8    156
356   Ryan de Oliveira Queiroz     32.0  2543000   35.0    M   56.4    176
357   Ryan de Oliveira Queiroz     32.0  2543000   77.0    F   79.1    176

     estado_civil  escolaridade  consumo_alcool  fumante  exercícios  dieta
0             1.0           5.0             3.0      1.0         3.0    1.0
1             2.0           4.0             4.0      4.0         1.0    1.0
2             2.0           1.0             3.0      4.0         4.0    1.0
3             3.0           1.0             6.0      4.0         4.0    1.0
4             1.0           2.0             2.0      2.0         4.0    1.0
..            ...           ...             ...      ...         ...    ...
353           1.0           7.0             5.0      2.0         3.0    4.0
354           4.0           3.0             2.0      3.0         4.0    3.0
355           4.0           1.0             1.0      1.0         2.0    4.0
356           3.0           7.0             4.0      2.0         1.0    2.0
357           1.0           3.0             4.0      4.0         1.0    3.0

[358 rows x 13 columns]

In [21]:
#Fazendo a prova real
base.isnull().sum()

pesquisador (aluno)    0
pesq_id                0
cep                    0
idade                  0
sexo                   0
peso                   0
altura                 0
estado_civil           0
escolaridade           0
consumo_alcool         0
fumante                0
exercícios             0
dieta                  0
dtype: int64

### 2° Analisando e tratando campo CEP

In [22]:
#4- Analisando o campo CEP
print(base["cep"].tolist())

['3479030', '3479030', '3479030', '3479030', '3479030', '2266000', '6020190', '9330080', '3150020', '5767001', '2678000', '2678000', '2678000', '2678000', '2842120', '9450000', '9450000', '9450000', '9450000', '9450000', '8280390', '23915060', '80020929', '74484090', '58103294', '8210100', '57302620', '88371457', '97509386', '60355010', '6765000', '6755260', '4842350', '5765220', '4069000', '6765000', '5756260', '6765000', '2712070', '6765000', '4546060', '2066014', '1548020', '3534080', '5360130', '49480000', '49480000', '49480000', '49480000', '49480000', '49480000', '49480000', '6931870', '6931870', '6931870', '12345678', '98765432', '54321987', '67890123', '13579246', '24680135', '13524680', '97531864', '86420975', '12468357', '1227000', '1227000', '3170500', '8070195', '3813000', '3673010', '13566533', '3690000', '3646000', '8150545', '8070200', '3118040', '74605110', '3044000', '8011300', '23525257', '44430116', '3141080', '1227000', '3877200', '3814000', '2251000', '8320451', '8021580', '8121660', '3959030', '9841270', '8330170', '9250490', '3944050', '9210100', '9210050', '6445575', '25530580', '9241110', '99070060', '8160015', '8471740', '1153040', '65913450', '8412000', '8151260', '8151290', '8151000', '8151000', '8151000', '8151161', '8151110', '8150450', '8151161', '01018-020', '01512-020', '02044-050', '03050-000', '04080-002', '05012-040', '06023-001', '07083-060', '08090-010', '09090-100', '03912-010', '03912-010', '03912-010', '03912-010', '03478-007', '03478-007', '03478-001', '03905-040', '03905-040', '03388-080', '06325-010', '06325-010', '06325-010', '06325-010', '06325-010', '06325-010', '60694-170', '60694-170', '05010-040', '05010-040', '06233-030', '06233-030', '06029-900', '6029902', '6029902', '06124-010', '06124-010', '06124-010', '06283-160', '06283-160', '4815010', '4820190', '4823200', '4810240', '4813070', '4811120', '4824000', '4812000', '4822090', '4825110', '9271400', '9601000', '9060650', '9290550', '9726200', '9895000', '9571000', '9530000', '9920100', '9990050', '7500000', '7500000', '7500000', '7500000', '7500000', '7500000', '7500000', '7500000', '7500000', '7500000', '6843260', '6887100', '6846160', '6843260', '6843260', '6887100', '6887100', '6846160', '6846160', '6846160', '07074-190', '07074-190', '07074-190', '07074-190', '07074-190', '07074-190', '07074-190', '07074-190', '07074-190', '07074-190', '4830310', '4830310', '4830310', '4830310', '4830310', '4830310', '4843190', '4843190', '4843190', '4843190', '9241480', '9241480', '9241480', '9241480', '9241480', '9241480', '9241480', '9241480', '9241480', '9241480', '9241480', '3515110', '3515110', '3515110', '3515110', '3515110', '3515110', '3515110', '3515110', '3515110', '3515110', '3515110', '9725160', '9725160', '6730000', '6730000', '6730000', '6730000', '6730000', '6730000', '6730000', '6730000', '3342000', '3342000', '3342000', '3325000', '3325000', '3325000', '3316000', '3316000', '3316000', '3316000', '02853040', '02853040', '02853040', '02853040', '02853040', '02853040', '02853040', '02853040', '02853040', '02853040', '03188040', '03188040', '03188040', '03188040', '02028000', '04532002', '04532002', '04532002', '03059050', '03058040', '09175-020', '09175-020', '09175-020', '09175-020', '09725-160', '09725-160', '09910-020', '09910-020', '09725-000', '09725-000', '5606010', '5606010', '5606010', '5606010', '5606010', '5606010', '5606010', '5606010', '5606010', '5606010', '5606010', '11045003', '11045003', '11045003', '11045130', '11045130', '11040000', '11045130', '11472100', '11472100', '11472100', '1510000', '1510000', '6856790', '6856790', '6856790', '6856570', '6856570', '6856570', '1505000', '1505000', '7080020', '7080020', '8070090', '8070090', '8161240', '8161240', '8061220', '8061220', '8070080', '8070080', '12345678', '23456789', '34567890', '45678901', '56789012', '67890123', '78901234', '89012345', '90123456', '1234567', '1001000', '20040000', '30130100', '40020010', '50030230', '60060130', '70040020', '80010100', '90030080', '70750300', '2238130', '2543000', '2543000', '2460000', '2460000', '2460000', '2238130', '2238130', '2543000', '2543000']

In [23]:
#4- Formatar o campo de CEP - Removi o - da coluna
base['cep'] = base['cep'].str.replace('-', '', regex=False)
print(base["cep"].tolist())

['3479030', '3479030', '3479030', '3479030', '3479030', '2266000', '6020190', '9330080', '3150020', '5767001', '2678000', '2678000', '2678000', '2678000', '2842120', '9450000', '9450000', '9450000', '9450000', '9450000', '8280390', '23915060', '80020929', '74484090', '58103294', '8210100', '57302620', '88371457', '97509386', '60355010', '6765000', '6755260', '4842350', '5765220', '4069000', '6765000', '5756260', '6765000', '2712070', '6765000', '4546060', '2066014', '1548020', '3534080', '5360130', '49480000', '49480000', '49480000', '49480000', '49480000', '49480000', '49480000', '6931870', '6931870', '6931870', '12345678', '98765432', '54321987', '67890123', '13579246', '24680135', '13524680', '97531864', '86420975', '12468357', '1227000', '1227000', '3170500', '8070195', '3813000', '3673010', '13566533', '3690000', '3646000', '8150545', '8070200', '3118040', '74605110', '3044000', '8011300', '23525257', '44430116', '3141080', '1227000', '3877200', '3814000', '2251000', '8320451', '8021580', '8121660', '3959030', '9841270', '8330170', '9250490', '3944050', '9210100', '9210050', '6445575', '25530580', '9241110', '99070060', '8160015', '8471740', '1153040', '65913450', '8412000', '8151260', '8151290', '8151000', '8151000', '8151000', '8151161', '8151110', '8150450', '8151161', '01018020', '01512020', '02044050', '03050000', '04080002', '05012040', '06023001', '07083060', '08090010', '09090100', '03912010', '03912010', '03912010', '03912010', '03478007', '03478007', '03478001', '03905040', '03905040', '03388080', '06325010', '06325010', '06325010', '06325010', '06325010', '06325010', '60694170', '60694170', '05010040', '05010040', '06233030', '06233030', '06029900', '6029902', '6029902', '06124010', '06124010', '06124010', '06283160', '06283160', '4815010', '4820190', '4823200', '4810240', '4813070', '4811120', '4824000', '4812000', '4822090', '4825110', '9271400', '9601000', '9060650', '9290550', '9726200', '9895000', '9571000', '9530000', '9920100', '9990050', '7500000', '7500000', '7500000', '7500000', '7500000', '7500000', '7500000', '7500000', '7500000', '7500000', '6843260', '6887100', '6846160', '6843260', '6843260', '6887100', '6887100', '6846160', '6846160', '6846160', '07074190', '07074190', '07074190', '07074190', '07074190', '07074190', '07074190', '07074190', '07074190', '07074190', '4830310', '4830310', '4830310', '4830310', '4830310', '4830310', '4843190', '4843190', '4843190', '4843190', '9241480', '9241480', '9241480', '9241480', '9241480', '9241480', '9241480', '9241480', '9241480', '9241480', '9241480', '3515110', '3515110', '3515110', '3515110', '3515110', '3515110', '3515110', '3515110', '3515110', '3515110', '3515110', '9725160', '9725160', '6730000', '6730000', '6730000', '6730000', '6730000', '6730000', '6730000', '6730000', '3342000', '3342000', '3342000', '3325000', '3325000', '3325000', '3316000', '3316000', '3316000', '3316000', '02853040', '02853040', '02853040', '02853040', '02853040', '02853040', '02853040', '02853040', '02853040', '02853040', '03188040', '03188040', '03188040', '03188040', '02028000', '04532002', '04532002', '04532002', '03059050', '03058040', '09175020', '09175020', '09175020', '09175020', '09725160', '09725160', '09910020', '09910020', '09725000', '09725000', '5606010', '5606010', '5606010', '5606010', '5606010', '5606010', '5606010', '5606010', '5606010', '5606010', '5606010', '11045003', '11045003', '11045003', '11045130', '11045130', '11040000', '11045130', '11472100', '11472100', '11472100', '1510000', '1510000', '6856790', '6856790', '6856790', '6856570', '6856570', '6856570', '1505000', '1505000', '7080020', '7080020', '8070090', '8070090', '8161240', '8161240', '8061220', '8061220', '8070080', '8070080', '12345678', '23456789', '34567890', '45678901', '56789012', '67890123', '78901234', '89012345', '90123456', '1234567', '1001000', '20040000', '30130100', '40020010', '50030230', '60060130', '70040020', '80010100', '90030080', '70750300', '2238130', '2543000', '2543000', '2460000', '2460000', '2460000', '2238130', '2238130', '2543000', '2543000']

In [24]:
#Prova real da remoção
linha_cep = base.loc[116]

print(linha_cep)

pesquisador (aluno)    Bruno Britto dos Santos
pesq_id                                    9.0
cep                                   01512020
idade                                     34.0
sexo                                         F
peso                                      60.0
altura                                     162
estado_civil                               2.0
escolaridade                               4.0
consumo_alcool                             4.0
fumante                                    4.0
exercícios                                 1.0
dieta                                      2.0
Name: 116, dtype: object

### 3° Analisando e tratando campo sexo

In [25]:
#5- Analisando o campo sexo
df = pd.DataFrame(base)
contagem_sexo = df["sexo"].value_counts()
print(contagem_sexo)

sexo
M                180
F                164
            F      5
H                  4
            M      3
           M       1
G                  1
Name: count, dtype: int64

In [26]:
# Localizar linhas com valores "H" ou "G" na coluna "Sexo"
linhas_inconsistentes = df[df["sexo"].isin(["H", "G"])]
print(linhas_inconsistentes)

                pesquisador (aluno)  pesq_id       cep  idade sexo   peso  \
188  Hugo Henrique Corvo dos Santos     16.0   6843260   29.0    H  190.0
189  Hugo Henrique Corvo dos Santos     16.0   6843260   40.0    H  180.0
191  Hugo Henrique Corvo dos Santos     16.0   6887100   80.0    H  150.0
193  Hugo Henrique Corvo dos Santos     16.0   6846160   30.0    H  130.0
335    Grasiely Lima Pastori Vieira     30.0  89012345   23.0    G   58.0

    altura  estado_civil  escolaridade  consumo_alcool  fumante  exercícios  \
188    120           2.0           5.0             4.0      4.0         1.0
189    110           3.0           4.0             4.0      4.0         2.0
191     90           3.0           4.0             2.0      1.0         4.0
193    100           2.0           4.0             2.0      1.0         4.0
335    158           5.0           4.0             2.0      1.0         2.0

     dieta
188    1.0
189    2.0
191    1.0
193    1.0
335    2.0

In [27]:
#5- Formatar campo sexo - Pesquisador Hugo subistituir H(Hoomem) por M(Masculino)
base['sexo'] = base['sexo'].str.replace('H', 'M', regex=False)

In [28]:
df = pd.DataFrame(base)
contagem_sexo = df["sexo"].value_counts()
print(contagem_sexo)

sexo
M                184
F                164
            F      5
            M      3
           M       1
G                  1
Name: count, dtype: int64

In [32]:
#5- Formatar o campo sexo - Pesquisadora Grasiely substituir G por M
base['sexo'] = base['sexo'].str.replace('G', 'M', regex=False)

In [35]:
df = pd.DataFrame(base)
contagem_sexo = df["sexo"].value_counts()
print(contagem_sexo)

sexo
M                185
F                164
            F      5
            M      3
           M       1
Name: count, dtype: int64

In [36]:
base['sexo']  = base["sexo"].str.strip()

In [40]:
#Prova real da mudança
base['sexo'].value_counts()

sexo
M    189
F    169
Name: count, dtype: int64

### 4° Analisando e tratando campo Peso

In [50]:
#6- Analisando o campo Peso
base["peso"].tolist()
print(base["peso"].tolist())

[67.0, 65.0, 67.0, 60.0, 70.0, 80.0, 62.0, 55.0, 62.0, 67.0, 49.0, 70.0, 68.0, 60.0, 84.0, 99.0, 70.0, 80.0, 60.0, 65.0, 56.0, 60.0, 80.0, 55.0, 75.0, 69.0, 100.0, 84.0, 45.0, 70.0, 63.0, 69.0, 90.0, 73.0, 82.0, 75.0, 68.0, 74.0, 65.0, 48.0, 91.0, 70.0, 80.0, 66.0, 86.0, 80.0, 75.0, 71.0, 80.0, 62.0, 76.0, 90.0, 96.0, 92.0, 45.0, 75.0, 60.0, 82.0, 68.0, 85.0, 58.0, 90.0, 62.0, 78.0, 65.0, 57.0, 77.0, 85.0, 109.0, 120.0, 92.0, 84.0, 65.0, 68.0, 89.0, 46.0, 62.0, 63.0, 80.0, 90.0, 85.0, 70.0, 104.0, 66.0, 80.0, 67.0, 80.0, 64.0, 47.0, 102.0, 55.0, 107.0, 84.0, 95.0, 64.0, 63.0, 58.0, 64.0, 63.0, 57.0, 68.0, 84.0, 60.0, 59.0, 62.0, 65.0, 55.0, 67.0, 63.0, 89.0, 59.0, 89.0, 86.0, 60.0, 92.0, 72.0, 60.0, 85.0, 58.0, 90.0, 68.0, 95.0, 62.0, 77.0, 54.0, 41.0, 65.0, 74.0, 70.0, 90.0, 80.0, 99.0, 72.0, 180.0, 182.0, 78.0, 62.0, 90.0, 58.0, 72.0, 68.0, 83.0, 60.0, 88.0, 55.0, 75.0, 103.0, 90.0, 65.0, 55.0, 69.0, 97.0, 80.0, 58.0, 68.0, 58.0, 85.0, 65.0, 92.0, 70.0, 78.0, 60.0, 68.0, 73.0, 80.0, 84.0, 91.0, 105.0, 120.0, 75.0, 68.0, 82.0, 84.0, 90.0, 101.0, 75.0, 74.0, 63.0, 65.0, 110.0, 86.0, 91.0, 70.0, 64.0, 93.0, 110.0, 80.0, 170.0, 190.0, 180.0, 130.0, 150.0, 140.0, 130.0, 160.0, 70.0, 60.0, 80.0, 65.0, 78.0, 62.0, 90.0, 55.0, 85.0, 58.0, 39.0, 100.0, 68.0, 72.0, 65.0, 55.0, 47.0, 55.0, 72.0, 80.0, 70.0, 65.0, 80.0, 55.0, 90.0, 50.0, 85.0, 60.0, 77.0, 73.0, 81.0, 88.0, 102.0, 57.0, 66.0, 77.0, 79.0, 80.0, 83.0, 97.0, 99.0, 95.0, 104.0, 70.0, 60.0, 63.0, 98.0, 60.0, 80.0, 60.0, 20.0, 9.0, 68.0, 85.0, 75.0, 90.0, 60.0, 55.0, 92.0, 78.0, 88.0, 66.0, 90.0, 75.0, 60.0, 75.0, 115.0, 80.0, 65.0, 90.0, 90.0, 74.0, 130.0, 75.0, 65.0, 57.0, 120.0, 70.0, 60.0, 80.0, 100.0, 97.0, 62.0, 90.0, 65.0, 50.0, 70.0, 104.0, 55.0, 85.0, 70.0, 95.0, 98.0, 66.0, 60.0, 72.0, 74.0, 66.0, 80.0, 88.0, 104.0, 120.0, 75.0, 87.0, 76.0, 42.0, 82.0, 72.0, 89.0, 95.0, 98.0, 96.0, 82.0, 81.0, 78.0, 80.0, 76.0, 83.0, 73.0, 67.0, 97.0, 73.0, 62.0, 71.0, 58.0, 62.0, 84.0, 60.0, 60.0, 61.0, 83.0, 69.0, 71.0, 70.0, 60.0, 78.0, 55.0, 82.0, 64.0, 76.0, 58.0, 80.0, 65.0, 60.0, 82.0, 70.0, 95.0, 55.0, 78.0, 65.0, 88.0, 72.0, 91.0, 90.0, 103.1, 64.0, 108.5, 105.1, 59.8, 97.8, 107.8, 56.4, 79.1]

In [90]:
# Verifica maior peso e menor peso
maior_peso = base["peso"].max()
menor_peso = base["peso"].min()

moda_peso = base["peso"].mode()[0]

print(maior_peso)
print(menor_peso)
print("O valor mais frequente de peso é:", moda_peso)

190.0
9.0
O valor mais frequente de peso é: 60.0

In [92]:
moda_por_sexo = base.groupby('sexo')['peso'].apply(lambda x: x.mode()[0])
print(moda_por_sexo)

sexo
F    60.0
M    80.0
Name: peso, dtype: float64

In [94]:
contagem_por_sexo = base.groupby('sexo')['peso'].value_counts()

print("Contagem de pesos por sexo:")
print(contagem_por_sexo)

Contagem de pesos por sexo:
sexo  peso
F     60.0     19
      65.0     15
      55.0     10
      68.0      9
      58.0      8
               ..
M     150.0     1
      160.0     1
      170.0     1
      182.0     1
      190.0     1
Name: count, Length: 115, dtype: int64

In [66]:
#Analisando se são outilier

df = pd.DataFrame(base)
linha_maior_peso = df.loc[df["peso"].idxmax()]
linha_menor_peso = df.loc[df["peso"].idxmin()]

df_extremos = pd.DataFrame([linha_maior_peso, linha_menor_peso])
print(df_extremos)

                pesquisador (aluno)  pesq_id      cep  idade sexo   peso  \
188  Hugo Henrique Corvo dos Santos     16.0  6843260   29.0    M  190.0
246             Carlos Augusto Reis     21.0  6730000    1.0    F    9.0

    altura  estado_civil  escolaridade  consumo_alcool  fumante  exercícios  \
188    120           2.0           5.0             4.0      4.0         1.0
246     80           1.0           1.0             6.0      4.0         4.0

     dieta
188    1.0
246    1.0

In [72]:
from scipy.stats import zscore

# Calcular o Z-Score
df["Z_Score"] = zscore(df["peso"])

# Identificar outliers
outliers = df[abs(df["Z_Score"]) > 2]
print("Outliers com Z-Score:")
print(outliers)

Outliers com Z-Score:
                pesquisador (aluno)  pesq_id       cep  idade sexo   peso  \
133         Tatiana Araujo Domingos     10.0  03905040   37.0    M  180.0
134         Tatiana Araujo Domingos     10.0  03388080   47.0    M  182.0
187  Hugo Henrique Corvo dos Santos     16.0   6846160   29.0    M  170.0
188  Hugo Henrique Corvo dos Santos     16.0   6843260   29.0    M  190.0
189  Hugo Henrique Corvo dos Santos     16.0   6843260   40.0    M  180.0
190  Hugo Henrique Corvo dos Santos     16.0   6887100   70.0    M  130.0
191  Hugo Henrique Corvo dos Santos     16.0   6887100   80.0    M  150.0
192  Hugo Henrique Corvo dos Santos     16.0   6846160   40.0    M  140.0
193  Hugo Henrique Corvo dos Santos     16.0   6846160   30.0    M  130.0
194  Hugo Henrique Corvo dos Santos     16.0   6846160   80.0    M  160.0
245             Carlos Augusto Reis     21.0   6730000    4.0    F   20.0
246             Carlos Augusto Reis     21.0   6730000    1.0    F    9.0
267  Joao Pedro Hideki Araujo Araki     24.0  03188040   26.0    M  130.0

    altura  estado_civil  escolaridade  consumo_alcool  fumante  exercícios  \
133    105           2.0           4.0             3.0      4.0         4.0
134    130           2.0           2.0             2.0      4.0         4.0
187     70           2.0           5.0             6.0      4.0         2.0
188    120           2.0           5.0             4.0      4.0         1.0
189    110           3.0           4.0             4.0      4.0         2.0
190     80           3.0           4.0             3.0      1.0         4.0
191     90           3.0           4.0             2.0      1.0         4.0
192    100           3.0           4.0             3.0      1.0         4.0
193    100           2.0           4.0             2.0      1.0         4.0
194     60           1.0           4.0             3.0      1.0         5.0
245    101           1.0           1.0             6.0      4.0         4.0
246     80           1.0           1.0             6.0      4.0         4.0
267    173           1.0           4.0             3.0      2.0         1.0

     dieta   Z_Score
133    1.0  4.706034
134    1.0  4.797793
187    1.0  4.247239
188    1.0  5.164829
189    2.0  4.706034
190    1.0  2.412058
191    1.0  3.329648
192    1.0  2.870853
193    1.0  2.412058
194    1.0  3.788443
245    1.0 -2.634689
246    1.0 -3.139364
267    1.0  2.412058

#### PRECISMAOS VERIFICAR INFORMAR AQUI O QUE O HUGO FALOU

### 5° Analisando e tratando o campo Altura

In [73]:
#7- Analisando o campo altura
base["altura"].tolist()
print(base["altura"].tolist())

['183', '173', '178', '165', '170', '170', '161', '173', '175', '161', '160', '170', '166', '156', '184', '177', '168', '175', '163', '154', '165', '160', '180', '175', '163', '184', '198', '175', '155', '180', '175', '152', '160', '167', '178', '185', '167', '163', '157', '151', '181', '171', '169', '169', '165', '180', '172', '179', '180', '160', '170', '175', '175', '183', '153', '175', '162', '180', '168', '178', '160', '182', '165', '176', '167', '159', '173', '185', '180', '185', '170', '178', '167', '164', '195', '159', '156', '160', '167', '168', '170', '175', '181', '161', '182', '167', '167', '158', '160', '184', '165', '175', '176', '166', '162', '183', '156', '165', '173', '176', '184', '176', '165', '178', '167', '183', '175', '175', '185', '179', '171', '181', '184', '172', '180', '175', '162', '180', '167', '170', '160', '178', '158', '172', '165', '151', '162', '178', '160', '181', '176', '194', '156', '105', '130', '180', '165', '175', '160', '178', '170', '182', '167', '175', '160', '160', '185', '170', '163', '159', '165', '186', '178', '160', '163', '162', '178', '170', '180', '160', '175', '165', '168', '158', '172', '173', '171', '174', '181', '174', '170', '181', '182', '172', '191', '173', '179', '165', '173', '191', '190', '179', '172', '170', '164', '150', '150', '70', '120', '110', '80', '90', '100', '100', '60', '175', '160', '180', '165', '172', '158', '185', '162', '178', '160', '1.32', '1,74', '1,5', '1,6', '1,65', '1,52', '1,47', '1,51', '1,84', '1,65', '173', '180', '155', '161', '172', '162', '163', '177', '174', '189', '190', '175', '190', '167', '155', '177', '168', '182', '175', '176', '184', '169', '178', '167', '153', '158', '176', '160', '174', '160', '101', '80', '165', '178', '172', '180', '158', '160', '175', '170', '182', '185', '174', '150', '150', '158', '180', '171', '171', '170', '168', '158', '173', '168', '160', '165', '178', '166', '150', '155', '173', '177', '160', '180', '165', '160', '167', '178', '168', '178', '172', '182', '170', '172', '167', '166', '170', '157', '173', '185', '180', '190', '171', '175', '166', '155', '150', '170', '162', '165', '195', '182', '167', '163', '172', '162', '182', '165', '178', '158', '172', '143', '162', '1.86', '1.65', '1.62', '1.86', '1.83', '1.70', '1.65', '1.73', '1.60', '1.63', '175', '160', '180', '165', '185', '162', '178', '158', '182', '164', '165', '175', '160', '180', '158', '172', '162', '185', '168', '178', '172', '157', '156', '186', '161', '182', '173', '156', '176', '176']

In [78]:
#7- Primeiro vou tratar os valores que estão separados por , e subsituir para .
#   Segundo na descrição dos atributos esse cmapos deveriam ser em centímetros então tudo que for metros vou substituri para centimetros

# Convertendo para DataFrame
df = pd.DataFrame(base, columns=["altura"])

# Função para limpar e padronizar os dados de altura
def tratar_altura(valor):
    if isinstance(valor, str):
        valor = valor.replace(',', '.')
    try:
        altura = float(valor)
        if altura < 3:  # valores em metros geralmente são menores que 3
            altura = altura * 100
        return altura
    except ValueError:
        return None  # Caso o valor seja inválido (não convertido)

# Aplicar a função de tratamento
base["altura"] = df["altura"].apply(tratar_altura)

# Remover valores inválidos (caso existam)
df = df.dropna(subset=["altura"])

# Exibir o DataFrame tratado
print(df["altura"].head())

0    183
1    173
2    178
3    165
4    170
Name: altura, dtype: object

In [79]:
base["altura"].tolist()
print(base["altura"].tolist())

[183.0, 173.0, 178.0, 165.0, 170.0, 170.0, 161.0, 173.0, 175.0, 161.0, 160.0, 170.0, 166.0, 156.0, 184.0, 177.0, 168.0, 175.0, 163.0, 154.0, 165.0, 160.0, 180.0, 175.0, 163.0, 184.0, 198.0, 175.0, 155.0, 180.0, 175.0, 152.0, 160.0, 167.0, 178.0, 185.0, 167.0, 163.0, 157.0, 151.0, 181.0, 171.0, 169.0, 169.0, 165.0, 180.0, 172.0, 179.0, 180.0, 160.0, 170.0, 175.0, 175.0, 183.0, 153.0, 175.0, 162.0, 180.0, 168.0, 178.0, 160.0, 182.0, 165.0, 176.0, 167.0, 159.0, 173.0, 185.0, 180.0, 185.0, 170.0, 178.0, 167.0, 164.0, 195.0, 159.0, 156.0, 160.0, 167.0, 168.0, 170.0, 175.0, 181.0, 161.0, 182.0, 167.0, 167.0, 158.0, 160.0, 184.0, 165.0, 175.0, 176.0, 166.0, 162.0, 183.0, 156.0, 165.0, 173.0, 176.0, 184.0, 176.0, 165.0, 178.0, 167.0, 183.0, 175.0, 175.0, 185.0, 179.0, 171.0, 181.0, 184.0, 172.0, 180.0, 175.0, 162.0, 180.0, 167.0, 170.0, 160.0, 178.0, 158.0, 172.0, 165.0, 151.0, 162.0, 178.0, 160.0, 181.0, 176.0, 194.0, 156.0, 105.0, 130.0, 180.0, 165.0, 175.0, 160.0, 178.0, 170.0, 182.0, 167.0, 175.0, 160.0, 160.0, 185.0, 170.0, 163.0, 159.0, 165.0, 186.0, 178.0, 160.0, 163.0, 162.0, 178.0, 170.0, 180.0, 160.0, 175.0, 165.0, 168.0, 158.0, 172.0, 173.0, 171.0, 174.0, 181.0, 174.0, 170.0, 181.0, 182.0, 172.0, 191.0, 173.0, 179.0, 165.0, 173.0, 191.0, 190.0, 179.0, 172.0, 170.0, 164.0, 150.0, 150.0, 70.0, 120.0, 110.0, 80.0, 90.0, 100.0, 100.0, 60.0, 175.0, 160.0, 180.0, 165.0, 172.0, 158.0, 185.0, 162.0, 178.0, 160.0, 132.0, 174.0, 150.0, 160.0, 165.0, 152.0, 147.0, 151.0, 184.0, 165.0, 173.0, 180.0, 155.0, 161.0, 172.0, 162.0, 163.0, 177.0, 174.0, 189.0, 190.0, 175.0, 190.0, 167.0, 155.0, 177.0, 168.0, 182.0, 175.0, 176.0, 184.0, 169.0, 178.0, 167.0, 153.0, 158.0, 176.0, 160.0, 174.0, 160.0, 101.0, 80.0, 165.0, 178.0, 172.0, 180.0, 158.0, 160.0, 175.0, 170.0, 182.0, 185.0, 174.0, 150.0, 150.0, 158.0, 180.0, 171.0, 171.0, 170.0, 168.0, 158.0, 173.0, 168.0, 160.0, 165.0, 178.0, 166.0, 150.0, 155.0, 173.0, 177.0, 160.0, 180.0, 165.0, 160.0, 167.0, 178.0, 168.0, 178.0, 172.0, 182.0, 170.0, 172.0, 167.0, 166.0, 170.0, 157.0, 173.0, 185.0, 180.0, 190.0, 171.0, 175.0, 166.0, 155.0, 150.0, 170.0, 162.0, 165.0, 195.0, 182.0, 167.0, 163.0, 172.0, 162.0, 182.0, 165.0, 178.0, 158.0, 172.0, 143.0, 162.0, 186.0, 165.0, 162.0, 186.0, 183.0, 170.0, 165.0, 173.0, 160.0, 163.0, 175.0, 160.0, 180.0, 165.0, 185.0, 162.0, 178.0, 158.0, 182.0, 164.0, 165.0, 175.0, 160.0, 180.0, 158.0, 172.0, 162.0, 185.0, 168.0, 178.0, 172.0, 157.0, 156.0, 186.0, 161.0, 182.0, 173.0, 156.0, 176.0, 176.0]

In [80]:
base["altura"] = base["altura"].round(0).astype(int)
print(base["altura"].tolist())

[183, 173, 178, 165, 170, 170, 161, 173, 175, 161, 160, 170, 166, 156, 184, 177, 168, 175, 163, 154, 165, 160, 180, 175, 163, 184, 198, 175, 155, 180, 175, 152, 160, 167, 178, 185, 167, 163, 157, 151, 181, 171, 169, 169, 165, 180, 172, 179, 180, 160, 170, 175, 175, 183, 153, 175, 162, 180, 168, 178, 160, 182, 165, 176, 167, 159, 173, 185, 180, 185, 170, 178, 167, 164, 195, 159, 156, 160, 167, 168, 170, 175, 181, 161, 182, 167, 167, 158, 160, 184, 165, 175, 176, 166, 162, 183, 156, 165, 173, 176, 184, 176, 165, 178, 167, 183, 175, 175, 185, 179, 171, 181, 184, 172, 180, 175, 162, 180, 167, 170, 160, 178, 158, 172, 165, 151, 162, 178, 160, 181, 176, 194, 156, 105, 130, 180, 165, 175, 160, 178, 170, 182, 167, 175, 160, 160, 185, 170, 163, 159, 165, 186, 178, 160, 163, 162, 178, 170, 180, 160, 175, 165, 168, 158, 172, 173, 171, 174, 181, 174, 170, 181, 182, 172, 191, 173, 179, 165, 173, 191, 190, 179, 172, 170, 164, 150, 150, 70, 120, 110, 80, 90, 100, 100, 60, 175, 160, 180, 165, 172, 158, 185, 162, 178, 160, 132, 174, 150, 160, 165, 152, 147, 151, 184, 165, 173, 180, 155, 161, 172, 162, 163, 177, 174, 189, 190, 175, 190, 167, 155, 177, 168, 182, 175, 176, 184, 169, 178, 167, 153, 158, 176, 160, 174, 160, 101, 80, 165, 178, 172, 180, 158, 160, 175, 170, 182, 185, 174, 150, 150, 158, 180, 171, 171, 170, 168, 158, 173, 168, 160, 165, 178, 166, 150, 155, 173, 177, 160, 180, 165, 160, 167, 178, 168, 178, 172, 182, 170, 172, 167, 166, 170, 157, 173, 185, 180, 190, 171, 175, 166, 155, 150, 170, 162, 165, 195, 182, 167, 163, 172, 162, 182, 165, 178, 158, 172, 143, 162, 186, 165, 162, 186, 183, 170, 165, 173, 160, 163, 175, 160, 180, 165, 185, 162, 178, 158, 182, 164, 165, 175, 160, 180, 158, 172, 162, 185, 168, 178, 172, 157, 156, 186, 161, 182, 173, 156, 176, 176]

In [82]:
#Analisando altura máxima e altura mínima

df = pd.DataFrame(base)
linha_maior_peso = df.loc[df["altura"].idxmax()]
linha_menor_peso = df.loc[df["altura"].idxmin()]

df_extremos = pd.DataFrame([linha_maior_peso, linha_menor_peso])
print(df_extremos)

                pesquisador (aluno)  pesq_id       cep  idade sexo   peso  \
26       Larissa de Almeida Ribeiro      3.0  57302620   60.0    M  100.0
194  Hugo Henrique Corvo dos Santos     16.0   6846160   80.0    M  160.0

     altura  estado_civil  escolaridade  consumo_alcool  fumante  exercícios  \
26      198           3.0           5.0             4.0      1.0         3.0
194      60           1.0           4.0             3.0      1.0         5.0

     dieta
26     3.0
194    1.0

In [88]:
# Calcular o Z-Score
base["Z_Score"] = zscore(base["altura"])

# Identificar outliers
outliers = base[abs(base["Z_Score"]) > 3]
print("Outliers com Z-Score:")
print(outliers)

Outliers com Z-Score:
                pesquisador (aluno)  pesq_id       cep  idade sexo   peso  \
133         Tatiana Araujo Domingos     10.0  03905040   37.0    M  180.0
187  Hugo Henrique Corvo dos Santos     16.0   6846160   29.0    M  170.0
189  Hugo Henrique Corvo dos Santos     16.0   6843260   40.0    M  180.0
190  Hugo Henrique Corvo dos Santos     16.0   6887100   70.0    M  130.0
191  Hugo Henrique Corvo dos Santos     16.0   6887100   80.0    M  150.0
192  Hugo Henrique Corvo dos Santos     16.0   6846160   40.0    M  140.0
193  Hugo Henrique Corvo dos Santos     16.0   6846160   30.0    M  130.0
194  Hugo Henrique Corvo dos Santos     16.0   6846160   80.0    M  160.0
245             Carlos Augusto Reis     21.0   6730000    4.0    F   20.0
246             Carlos Augusto Reis     21.0   6730000    1.0    F    9.0

     altura  estado_civil  escolaridade  consumo_alcool  fumante  exercícios  \
133     105           2.0           4.0             3.0      4.0         4.0
187      70           2.0           5.0             6.0      4.0         2.0
189     110           3.0           4.0             4.0      4.0         2.0
190      80           3.0           4.0             3.0      1.0         4.0
191      90           3.0           4.0             2.0      1.0         4.0
192     100           3.0           4.0             3.0      1.0         4.0
193     100           2.0           4.0             2.0      1.0         4.0
194      60           1.0           4.0             3.0      1.0         5.0
245     101           1.0           1.0             6.0      4.0         4.0
246      80           1.0           1.0             6.0      4.0         4.0

     dieta   Z_Score
133    1.0 -3.655414
187    1.0 -5.696971
189    2.0 -3.363763
190    1.0 -5.113669
191    1.0 -4.530367
192    1.0 -3.947065
193    1.0 -3.947065
194    1.0 -6.280273
245    1.0 -3.888735
246    1.0 -5.113669

#### ANALISAR MELHOR OS DADOS DE ALTURA

### 6° Analisando e tratando o campo estado_civil

In [41]:
""" 1: Solteiro(a) - 2: Casado(a) ou união estável - 3: Divorciado(a)
		4: Separado(a) - 5: Viúvo(a)
"""
contagem_estado_civil = base['estado_civil'].value_counts()

print("Contagem de Estado Civil:")
print(contagem_estado_civil)

Contagem de Estado Civil:
estado_civil
1.0    161
2.0    137
3.0     27
5.0     17
4.0     16
Name: count, dtype: int64

In [46]:
filtro = (base['idade'] < 18) & (base['estado_civil'] == 2)

filtrados_menor_idade = base[filtro]

print(filtrados_menor_idade)

                        pesquisador (aluno)  pesq_id      cep  idade sexo  \
288  Luigi Villanova Machado de Barros Lago     26.0  5606010   15.0    F

     peso altura  estado_civil  escolaridade  consumo_alcool  fumante  \
288  66.0    172           2.0           4.0             6.0      4.0

     exercícios  dieta
288         3.0    1.0

#VERIFICAR COM O LUIGI SE REALMENTE ESSA PESSOAL É CASADA

### 7° Analisando e tratando o campo escolaridade

In [49]:
""" 1: Ensino Médio Incompleto    - 2: Ensino Médio Completo
		3: Ensino Superior Incompleto - 4: Ensino Superior Completo
		5: Pós-Graduação    - 6: Mestrado  - 7: Doutorado
"""
base["escolaridade"].value_counts()

escolaridade
4.0    126
3.0     60
2.0     55
5.0     52
1.0     52
6.0      9
7.0      4
Name: count, dtype: int64

### 8° Analisando e tratando o campo consumo_alcool

### 9° Analisando e tratando o campo fumante

### 10° Analisando e tratando o campo exercí­cios

### 11° Analisando e tratando o campo dieta

In [97]:
#6- Formatar campo peso -
#7- Formatar campo altura - Substituir , po .

#9- Campo fumante vai de 1 - 4 - Substiuir 5 por
#10- Campo exercício vai de 1 - 4 - substituir por

#Testes de Normalidade

#Testes de Homogeneidade

#Testes de Independência

#Escolher uma variável categórica do dataset e demonstrar como seria uma distribuição homogênea

#Separando os dados por sexo (M/F), calcular média e desvio padrão, escrever o intervalo de confiança para os dados quantitativos:

#Mantendo a separação por sexo (M/F), realizar análise de normalidade dos dados quantitativos descrevendo o resultado da análise

#Realizar análise de independência entre o atributo sexo (M/F) com os atributos (consumo_alcool, fumante, exercicios e dieta), descrevendo o resultado da análise

#Realizar análise de homogeneidade de cada variável categórica, descrevendo o resultado da análise;

#Escolher uma variável categórica e montar como seria um dataset homogêneo dessa variável